@charset "utf-8";
/* CSS Document - Perkantas Jatim Poenya */

body 
	{
	margin: 0px;
	background-color:#dfe7f1;
	font-family:Arial, Helvetica, sans-serif;
	color:#000;
	font-size:12px;
	background-image:url(../images/background.gif);
	background-repeat:repeat-x
	}	
img, div, a, input, td,
	{ 
	behavior: url(iepngfix.htc) 
	}			
.clearboth	
	{
	clear:both;
	}
.wrap	
	{
	background-repeat:repeat-y;
	width:900px;
	height:100%;
	margin:0 auto;
	text-align:center;
	}
.wrap1	
	{
	width:900px
	margin:0 auto;
	text-align:center;
	}
.headMain	
	{
	width:900px;
	height:160px;
	background-color:#006;
	}
.headTop {
	width:900px;
	height:36px;
	background-color:#c5d3f2;
	/*background-color:transparent;*/
}	
.head	
	{
	width:900px;
	height:120px;
	background-color:#006;
	background-image:url(../images/header.jpg)
	}
.headcenter
	{
	float:left;
	padding-left:50px;
	width:850px;
	height:95px;
	padding-top:10px;
	}
.logo 
	{
	float:left;
	width:250px;
	height:90px;
	background-image:url(../images/logo.png);
	background-repeat:no-repeat;
	}
.imgHeader	
	{
	width:900px;
	height:135px;
	background-color:#b2c2ff;
	}	
.borderkiri	
	{
	float:left;
	width:13px;
	height:90px;
	background-image:url(../images/borderkiri.jpg);
	background-repeat:repeat-y;
	}
.borderkanan	
	{
	float:right;
	width:13px;
	height:90px;
	background-image:url(../images/borderkanan.jpg);
	background-repeat:repeat-y;
	}
.loginTop 
	{
	float:right;
	}
	
.topLink{
	font-weight:bold;
	font-size:12;
	text-decoration:underline;
	color:#157aa9;

}	
.textbox 
	{
	background-color:#aaceff;
	}
.inputAccount	
	{
	width:618px;
	height:34px;
	padding:10px 0 0 0;
	color:#FFF;
	text-align:left;
	}
.menu	
	{
	width:900px;
	height:35px;
	background-color:#b2c2ff;
	text-align:left;
	padding:0 0 0 0;
	}
.content	
	{
	width:900px;
	height:100%;
	background-color:#b2c2ff;
	}
	
/*MENU KIRI*/	
.contentLeft-1	
	{
	vertical-align:top;
	width:224px;
	background-color:#5f8cff;
	text-align:left;
	}
.leftAtas	
	{
	float:left;
	width:224px;
	height:100%;
	background-color:#5f8cff;
	color:#FFF;
	line-height:20px;
	padding-top: 0;
	padding-right: 0;
	padding-bottom: 0;
	padding-left: 0;
	}

.leftBawah	
	{
	float:left;
	width:224px;
	height:100%;
	background-color:#5f8cff;
	color:#FFF;
	line-height:15px;
	padding-top: 0;
	padding-right: 0;
	padding-bottom: 0;
	padding-left: 0;
	}
.header_br
	{
	background-image:url(../images/header_br.png);
	background-repeat:no-repeat;
	width:224px;
	line-height:40px;
	padding-left:20px;
	color:#FFFFFF;
	overflow:hidden;
	font-weight:bold;
	font-family: book antiqua,palatino;
	font-size: 20px;
	}
.header_menu
	{
	background-repeat:no-repeat;
	width:224px;
	line-height:112px;
	color:#FFFFFF;
	overflow:hidden;
	font-weight:bold;
	font-family: book antiqua,palatino;
	font-size: 20px;
	background-color:#b2c2ff;
	}
.header_menu2
	{
	background-repeat:no-repeat;
	width:224px;
	line-height:100%;
	color:#FFFFFF;
	overflow:hidden;
	font-weight:bold;
	padding-top:10px;
	font-family: book antiqua,palatino;
	font-size: 20px;
	background-color:#5f8cff;
	text-align:center;
	}
.header_menu3
	{
	background-repeat:no-repeat;
	width:224px;
	line-height:100%;
	color:#FFFFFF;
	overflow:hidden;
	font-weight:bold;
	padding-top:3px;
	font-family: book antiqua,palatino;
	font-size: 20px;
	background-color:#5f8cff;
	text-align:center;
	}
.event_kiri
	{
	float:left;
	width:107px;
	height:100%;
	background-color:#5f8cff;
	text-align:left;
	padding-left:5px;
	}
.event_kanan
	{
	float:right;
	width:110px;
	height:100%;
	background-color:#5f8cff;
	text-align:left;
	padding-left:2px;
	}
.contentLeft-2	
	{
	padding:10px 10px 30px 15px;
	line-height:25px;
	background-color:#5f8cff;
	}
.title_default {
	background-image:url(../images/title.jpg);
	width:240px;
	height:27px;
	padding:3px 0 0 5px;
	font-family:Arial Narrow;
	font-weight:bold;
	color:#3b5997;
	font-size:20px;
	background-repeat:no-repeat;
}
.href_title{
	color:#3b5997;
	text-decoration:none;
}

.titleContentLeft	
	{
	font-family:book antiqua,palatino;
	font-weight:bold;
	color:#FFF;
	font-size:20px;
	}
.titleTextLeft
	{
	padding:0 5px 0px 5px;
	border:none;	
	text-align:left;
	color:#000;
	font-weight:bold;
	font-size: 11px;
	}
.textLeft
	{
	text-align:justify;
	padding: 10px 10px 0 10px;
	color:#000;
	font-weight:normal;
	font-size: 11px;
	}

/*MENU TENGAH*/
.contentCenter-0	
	{
	background-color:#b2c2ff;
	}
.contentEdit
	{
	background-color:#b2c2ff;
	text-align:left;
	}
.contenCenter	
	{
	width:435px;
	float:left;
	text-align:left;
	}
.textList
	{
	text-align:justify;
	padding: 10px 10px 0 10px;
	color:#000;
	font-weight:normal;
	font-size: 12px;
	line-height:20px;
	}
.contentCenter-1	
	{
	width:435px;
	height:100%;
	padding-top: 10px;
	padding-right: 0;
	padding-bottom: 0;
	padding-left: 10px;
	}
.contentMain	
	{
	width:640px;
	height:310px;
	background-color:transparent;
	padding-top: 10px;
	padding-right: 0;
	padding-bottom: 0;
	padding-left: 10px;
	text-align:left;
	}	
	
.slideshow	
	{
	float:left;
	}	
.contentToday	
	{
	height:290px;
	background-color:#a2b7e1;
	padding: 5px 0px 5px 0px;
	width:380px;
	}	
.listTopik	
	{
	float:left;
	height:300px;
	padding: 10px 5px 5px 5px;
	background-color:#a2b7e1;
	width:220px;
	font-family: book antiqua,palatino;
	color:#3367ea;
	line-height:15px;
	}	
.hrefTopik	
	{
	font-family: book antiqua,palatino;
	color:#3367ea;
	text-decoration:none;
	}		
.mainBatas	
	{
	float:left;
	height:300px;
	background-color:transparent;
	width:8px;
	}		
.divTitleCenter	
	{
	background-image:url(../images/header_back.jpg);
	width:415px;
	height:49px;
	padding:11px 0 0 10px;
	font-family:book antiqua,palatino;
	font-weight:bold;
	color:#000;
	font-size:30px;
	background-repeat:no-repeat;
	}
.divTitleCenter1	
	{
	background-image:url(../images/header_back.jpg);
	width:415px;
	height:43px;
	padding:17px 0 0 10px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	color:#000;
	font-size:20px;
	background-repeat:no-repeat;
	}
.divTitleCenter1x	
	{
	/*background-image:url(../images/header_back_main.jpg);*/
	width:415px;
	height:43px;
	padding:17px 0 0 0;
	font-family: book antiqua,palatino;
	font-weight:bold;
	font-size:14px;
	background-repeat:no-repeat;
	}
.titleCenter
	{
	border:none;	
	text-decoration:none;
	color:#a8480e;
	}
.contentCenter-2	
	{
	width:416px;
	padding:0 10px 30px 10px;
	line-height:25px;	
	}	
.titleContentCenter	
	{
	font-family:book antiqua,palatino;
	font-weight:bold;
	color:#000;
	font-size:20px;
	}
.contenCenterArticle	
	{
	width:659px;
	float:left;
	text-align:left;
	}
.contentCenter-1Article	
	{
	width:659px;
	height:100%;
	padding-top: 10px;
	padding-right: 0;
	padding-bottom: 0;
	padding-left: 10px;
	}
.contentTodayArticle	
	{
	float:left;
	width:659px;
	height:100%;
	}
.contentCenter-2Article	
	{
	width:640px;
	padding:15px 10px 30px 10px;
	line-height:25px;	
	}
.contenCenterFull	
	{
	width:900px;
	float:left;
	text-align:left;
	}
.contentCenter-1Full	
	{
	width:900px;
	height:100%;
	padding-top: 10px;
	padding-right: 0;
	padding-bottom: 0;
	padding-left: 10px;
	}
.contentTodayFull	
	{
	float:left;
	width:900px;
	height:100%;
	}
.contentCenter-2Full	
	{
	width:881px;
	text-align:left;
	padding:15px 10px 30px 10px;
	line-height:25px;	
	}	
.formathuruf
	{
	font-size:14px;
	font-weight:bold;
	color:#042492;
	}
.hurufmenu
	{
	font-size:14px;
	font-weight:bold;
	}
.huruferase
	{
	font-size:12px;
	color:#b2c2ff;
	}
.pictureseminar	
	{
	float:left;
	padding-right:8px;
	padding-top:8px;
	width:180px;
	height:100%;
	}
.pictureseminar2	
	{
	float:left;
	padding-right:8px;
	padding-top:8px;
	width:190px;
	height:100%;
	}
.picturealumni	
	{
	float:left;
	padding-right:8px;
	padding-top:8px;
	width:300px;
	height:100%;
	}
.picturealumni2	
	{
	float:left;
	padding-right:8px;
	padding-top:8px;
	width:300px;
	height:100%;
	}		
	

/*MENU KANAN*/	
.contentRight-1	
	{
	width:241px;
	background-color:#5f8cff;
	vertical-align:top;
	text-align:left;
	}
.header_menukanan
	{
	width:241px;
	color:#FFFFFF;
	overflow:hidden;
	background-color:#5f8cff;
	}
.contentRight	
	{
	width:241px;
	float:left;
	}
.titleContentRight	
	{
	background-image:url(../images/header_br2.png);
	background-repeat:no-repeat;
	width:241px;
	line-height:40px;
	padding-left:20px;
	color:#FFFFFF;
	overflow:hidden;
	font-weight:bold;
	font-family: book antiqua,palatino;
	font-size: 20px;
	}
.contentRight-2	
	{
	padding-top:20px;
	padding-bottom:20px;
	text-align:center;
	}
.contentRight-3	
	{
	padding:10px 10px 20px 10px;
	text-align:justify;
	}
.titleTextRight
	{
	padding:0 5px 0px 5px;
	border:none;	
	color:#000;
	font-weight:bold;
	font-size: 11px;
	}
.textRight
	{
	padding-left:15px;
	color:#000;
	font-size: 10px;
	}

/*FOOTER*/
.footer	
	{
	width:900px;
	height:90px;
	background-image:url(../images/header.jpg)
	}
.titleFooter
	{
	font-size:12px;
	color:#fff;
	font-weight:bold;
	}
.floatLeft	
	{
	float:left;
	}
.floatRight	
	{
	float:right;
	}


/*ADMINISTRATOR*/
.headerAdmin	
	{
	width:870px;
	height:27px;
	background-image:url(headerAdmin.jpg);
	background-repeat:repeat-x;
	}
.navAdmin	
	{
	padding:6px 20px 7px 20px;
	color:#fff;
	font-weight:bold;
	border-left:solid 1px #fff;
	}
.four-o-three, .four-o-four, .error
	{
	min-height: 150px;
	height:auto !important;
	height: 220px;
	padding: 20px;
	padding-left: 180px;
	border: 12px solid #b2c2ff;
	border-top: 12px solid #b2c2ff;
	border-bottom: 12px solid #b2c2ff;
	background: url(../images/exclamation.gif) no-repeat left top;
	background-color:#FFF;
	}	
.button {
	cursor:pointer; 
	background-image:url(../images/button.png);
	background-repeat:no-repeat;
	font-weight:bold; 
	padding-bottom:3px;
	font-family:"Verdana";
	color:#fff;
	width:78px;
	height:25px; 
	background-color:transparent; 
	border:solid 0px #C2C2C2;
}
:hover.button {
	cursor:pointer; 
	background-repeat:no-repeat;
	background-image:url(../images/button_hover.png);
	font-weight:bold; 
	padding-bottom:3px;
	font-family:"Verdana";
	color:#fff;
	width:78px;
	height:25px; 
	background-color:transparent; 
	border:solid 0px #C2C2C2;
}

/*LOGIN*/
.loginTop 
	{
	float:right;
	}


.textboxLogin
	{
	background-color:#aaceff;
	border:solid 1px #C2C2C2;
	}
#boxed 
	{
	padding-top: 0;
	font-size: 11px;
	padding-bottom: 30px;
	background-color:#E5F8FE;
	}
.menulogin	
	{
	width:900px;
	height:30px;
	background-color:#81803F;
	text-align:left;
	}	
#boxedleft
	{
	margin-right: 340px;
	background-color:#E5F8FE;
	}
#boxedright
	{
	float: right;
	width: 320px;
	background-color:#E5F8FE;
	}
fieldset 
	{ 
	position: relative;  
	float: left;  
	clear: both;  
	width: 100%;  
	margin: 0 0 1em 0;  
	padding: 0 0 1em 0;  
	border-style: none;  
	border-top: 1px solid #BFBAB0;  
	background: #FFF url(../images/bg_grad1.png) repeat-x bottom left; 
	}
legend 
	{  
	padding: 5px 0;  
	color: #000;  
	font-weight: bold;
	}
legend span 
	{  
	position: absolute;  
	left: 0.74em;  
	top: 0;  
	margin-top: 0.5em;  
	font-size: 135%;
	}
fieldset ol 
	{  
	padding: 1em 1em 0 1em;  
	list-style: none;
	}
fieldset li 
	{  
	float: left;  
	clear: left;  
	width: 100%;  
	padding-bottom: 1em;
	}
fieldset.submit 
	{  
	float: none;  
	width: auto;  
	border-style: none;  
	padding-left: 15em;  
	background-color: transparent;  
	background-image: none;
	}
label 
	{  
	float: left;  
	width: 12em;  
	margin-right: 1em;
	}
label em 
	{  
	display: block;  
	color: #060;  
	font-size: 85%;  
	font-style: normal;  
	text-transform: uppercase;
	}
input
	{
	}
textarea
	{
	}
select
	{
	}
fieldset.submit 
	{  
	float: none;  
	width: auto;  
	border: 0 none #FFF;  
	padding-left: 12em;
	}

.spanClick	
	{
	font-weight:bold;
	color:blue;
	text-decoration:underline;
	}
/*TABLE PROPERTIES*/
.TableTitle	
	{
	font-weight:bold;
	background-color:#bddcba;
	}
.TableContent	
	{
	padding:10px 0 5px 5px;
	/*width:160px;*/
	border-bottom:solid 1px #ccc;
	vertical-align:middle;
	}
.TableAction	
	{
	padding:10px 0 5px 5px;
	/*width:160px;*/
	border-bottom:solid 1px #ccc;
	vertical-align:middle;
	}	
.SpecialColumn	
	{
	padding:10px 0 5px 5px;
	color:#47959c;
	/*width:160px;*/
	border-bottom:solid 1px #ccc;
	vertical-align:middle;
	}	
.td {
	/*border-top:solid 1px #ccc;
	border-left:solid 1px #ccc;
	border-right:solid 1px #ccc;*/
	border-bottom:solid 1px #ccc;
	}
.listDefault{
	width:290px;
	padding:5px 5px 5px 5px;
	background-color:#a2b7e1;
	color:#000;
	text-align:justify;
	vertical-align:top;
}
.titleListDefault
	{
	border:none;	
	color:#863312;
	font-weight:bold;
	text-align:left;
	font-size: 11px;
	}
.textListDefault
	{
	padding-left:0px;
	color:blue;
	font-size: 10px;
	}	
	
.textList
	{
	text-align:justify;
	padding: 10px 10px 0 10px;
	color:#000;
	font-weight:normal;
	font-size: 12px;
	}	
.listHome{
	width:290px;
	padding:5px 5px 5px 5px;
	background-color:#a2b7e1;
	color:#000;
	text-align:justify;
	vertical-align:top;
}	
.textHome
	{
	text-align:justify;
	padding: 10px 10px 0 10px;
	color:#000;
	font-weight:normal;
	font-size: 12px;
	}		